<div class='header'>
  <div class="container">
    <div class="logo">
      <a href="https://www.globant.com/studio/big-data"><img alt="Logo" src="{{ .Site.Params.logo.standard | relURL }}" /></a>
    </div>
    <div class="logo-mobile">
      <a href="{{ .Site.BaseURL }}"><img alt="Logo" src="{{ .Site.Params.logo.mobile | relURL }}" /></a>
    </div>
    {{ partial "main-menu.html" . }}
    {{ partial "hamburger.html" . }}
  </div>
</div>
